<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::html"></div>
<script type="text/javascript">
    $(function () {
        $("#back").click(function () {
            window.history.go(-1);
        });
    })
</script>
<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>用户管理页面 >> 用户信息查看页面</span>
    </div>
    <div class="providerView">
        <p><strong>用户编号：</strong><span th:text="${user.usercode}">sunxing</span></p>
        <p><strong>用户名称：</strong><span th:text="${user.username}">孙兴</span></p>
        <p><strong>用户性别：</strong>
            <span th:text="${user.gender eq 1 ? '女' : '男'}">女</span>
        </p>
        <p><strong>出生日期：</strong><span
                th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}">1978-03-12</span></p>
        <p><strong>用户电话：</strong><span th:text="${user.phone}">13367890900</span></p>
        <p><strong>用户地址：</strong><span th:text="${user.address}">北京市朝阳区建国门南大街10号</span></p>
        <p>
            <strong>用户角色：</strong>
            <span th:if="${user.userrole eq 1}">系统管理员</span>
            <span th:if="${user.userrole eq 2}">经理</span>
            <span th:if="${user.userrole eq 3}">普通员工</span>
        </p>
        <div class="providerAddBtn">
            <input type="button" id="back" name="back" value="返回">
        </div>
    </div>
</div>
</section>
<div th:replace="common/bottom::html"></div>
</body>
</html>