<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
        <script type="text/javascript">
            $(function() {
                $("#a").click(function() {
                    window.history.go(-1);
                });
            });
        </script>
</head>

<body>
<h1>糟糕服务器开小差了！</h1>
<a id="a" href="#">返回</a>
</body>
</html>