<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::html" ></div>
     <input type="hidden" id="path" name="path" value="/SMBMS"/>
     <input type="hidden" id="referer" name="referer" value="http://localhost:8080"/>
    <div class="right">
        <img class="wColck" src="images/clock.jpg" th:src="@{/images/clock.jpg}"/>
        <div class="wFont">
            <h2 th:text="${session.SESSION_USER.getUsername()}">系统管理员</h2>
            <p>欢迎来到超市订单管理系统!</p>
        </div>
    </div>
</section>
<div th:replace="common/bottom::html" ></div>
</body>
</html>
